.bg {
    background-image: url("../images/bg1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh + 200px);
    margin-top: -200px;
   
    
}

