.container-grid {
    display: grid;
    /* height: 100vh; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 5rem;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 80px;
    padding-bottom: 80px;
    
    
   
}

.grid-section{
    background-image: url("../images/gridbg2.comp.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

@media only screen and (max-width: 900px){
    .container-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "content1"
        "content2"
        "content3"
        "content4"
        "content5"
        "content6"
        "content7"
        "content8"
        "content9"
        "content10"
        ;
    }
}

.grid {
    
    /* background: red; */
    text-align: center;
    height: 300px;
 
}


.content1 {
background-image: url("../images/grid1.comp.jpg");
 background-position: right;
 background-size: cover;
 background-repeat: no-repeat;
 /* background: rgb(151, 137, 137); */
 padding-right: 10px;
 -webkit-box-shadow: 3px 4px 4px -1px rgba(112,110,112,1);
-moz-box-shadow: 3px 4px 4px -1px rgba(112,110,112,1);
box-shadow: 3px 4px 4px -1px rgba(112,110,112,1);
 
 
}

.content2, .content3, .content7, .content6, .content10{
    text-align: left;
    vertical-align: middle;
    padding-top: 5%;
    padding-left: 20px;
  
}

.content3, .content7 {
    padding-left: 0;
}

.content4 {
    background-image: url("../images/grid2.comp.jpg");
     background-position: left;
     background-size: cover;
     background-repeat: no-repeat;
     -webkit-box-shadow: 3px 4px 4px -1px rgba(112,110,112,1);
    -moz-box-shadow: 3px 4px 4px -1px rgba(112,110,112,1);
    box-shadow: 3px 4px 4px -1px rgba(112,110,112,1);

     
    }

.content5 {
    background-image: url("../images/grid3.comp.jpg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 3px 4px 4px -1px rgba(112,110,112,1);
    -moz-box-shadow: 3px 4px 4px -1px rgba(112,110,112,1);
    box-shadow: 3px 4px 4px -1px rgba(112,110,112,1);
         
        }

.content8 {
     background-image: url("../images/grid4.comp.jpg");
     background-position: left;
     background-size: cover;
     background-repeat: no-repeat;
     -webkit-box-shadow: 3px 4px 4px -1px rgba(112,110,112,1);
    -moz-box-shadow: 3px 4px 4px -1px rgba(112,110,112,1);
    box-shadow: 3px 4px 4px -1px rgba(112,110,112,1);
                 
         }


.content9 {
    background-image: url("../images/grid5.comp.jpg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 3px 4px 4px -1px rgba(112,110,112,1);
    -moz-box-shadow: 3px 4px 4px -1px rgba(112,110,112,1);
    box-shadow: 3px 4px 4px -1px rgba(112,110,112,1);
                        
     }

    .grid h2{
        font-weight: 900;
        color: rgb(43, 41, 41);
        font-size: 2rem;
        margin-bottom: 5%;
        
    }

    .grid p{
        font-size: 1.3rem;
        font-weight: 500;

    }

    .grid-section hr {
        position: absolute;
        border: none;
        width: 4px;
        height: 100%;
        background: rgb(209, 60, 60);
        right: 49.8%;
        

    }