.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 5rem;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 80px;
    padding-bottom: 80px;
    grid-template-areas: 
        "content1 content2"
        "content3 content4"
        "content5 content6"
        "content7 content8"
        "content9 content10"
    ;
   
}
  
    
   


.grid-section{
    background-image: url("../images/gridbg2.comp.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.grid {
    text-align: center;
    height: 300px;
 
}

.content2 {
    grid-area: content2
}

.content3 {
    grid-area: content3
}

.content7 {
    grid-area: content7
}




.content1 {
background-image: url("../images/grid1.comp.jpg");
 background-position: right;
 background-size: cover;
 background-repeat: no-repeat;
 /* background: rgb(151, 137, 137); */
 padding-right: 10px;
 -webkit-box-shadow: 3px 4px 4px -1px rgba(112,110,112,1);
-moz-box-shadow: 3px 4px 4px -1px rgba(112,110,112,1);
box-shadow: 3px 4px 4px -1px rgba(112,110,112,1);
 grid-area: content1;
   
 
}

.content2, .content3, .content7, .content6, .content10{
    text-align: left;
    vertical-align: middle;
    padding-top: 5%;
    padding-left: 20px;
  
}

.content3, .content7 {
    padding-right: 10px;
    padding-left: 0;
}

.content4 {
    background-image: url("../images/grid2.comp.jpg");
     background-position: left;
     background-size: cover;
     background-repeat: no-repeat;
     -webkit-box-shadow: 3px 4px 4px -1px rgba(112,110,112,1);
    -moz-box-shadow: 3px 4px 4px -1px rgba(112,110,112,1);
    box-shadow: 3px 4px 4px -1px rgba(112,110,112,1);
    grid-area: content4;
      
     
    }

.content5 {
    background-image: url("../images/grid3.comp.jpg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 3px 4px 4px -1px rgba(112,110,112,1);
    -moz-box-shadow: 3px 4px 4px -1px rgba(112,110,112,1);
    box-shadow: 3px 4px 4px -1px rgba(112,110,112,1);
    grid-area: content5;
      
        }

.content8 {
     background-image: url("../images/grid4.comp.jpg");
     background-position: left;
     background-size: cover;
     background-repeat: no-repeat;
     -webkit-box-shadow: 3px 4px 4px -1px rgba(112,110,112,1);
    -moz-box-shadow: 3px 4px 4px -1px rgba(112,110,112,1);
    box-shadow: 3px 4px 4px -1px rgba(112,110,112,1);
    grid-area: content8  ;
              
         }


.content9 {
    background-image: url("../images/grid5.comp.jpg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 3px 4px 4px -1px rgba(112,110,112,1);
    -moz-box-shadow: 3px 4px 4px -1px rgba(112,110,112,1);
    box-shadow: 3px 4px 4px -1px rgba(112,110,112,1);
    grid-area: content9 ;
                  
     }

    .grid h2{
        font-weight: 900;
        color: rgb(43, 41, 41);
        font-size: 2rem;
        margin-bottom: 5%;
        
    }

    .grid p{
        font-size: 1.3rem;
        font-weight: 500;

    }

    .grid-section hr {
        position: absolute;
        border: none;
        width: 4px;
        height: 100%;
        background: rgb(209, 60, 60);
        right: 49.8%;
    }


    @media only screen and (max-width: 900px){
        .grid-section hr {
            display: none;
        }
        .container-grid {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas: 
            "content1"
            "content2"
            "content4"
            "content3"
            "content5"
            "content6"
            "content8"
            "content7"
            "content9"
            "content10"
            ;
        }
        #content2, #content3, #content7, #content6, #content10{
            padding-top: 0;
            padding-left: 0;
        }
    }

    @media only screen and (max-width: 312px){
      .container-grid {
          margin-left: 5%
      }
    }

    @media only screen and (max-width: 280px){
        .container-grid {
            margin-left: 2%
        }
      }

   

  