header {
    position: fixed;
    top: 0;left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    padding: 40px 100px;
    height: 200px;
    background: linear-gradient(to top, transparent 0%, black 100%);
    z-index: 999

  }
  
  header .logo {
    position: relative;
    font-weight: 700;
    
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    
  }
  header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  header ul li {
    position: relative;
    list-style-type: none;
  }

  header ul a li {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: rgb(235, 235, 235);
    letter-spacing: 2px;
    font-weight: bold;
    
  }
  
  .banner {
    position: relative;
    width: 100%;
    /* height: 15vh; */
  }
  
  .top{
    padding: 5px 100px;
    background: rgb(32, 32, 32);
    height: 80px;
  }

  .top hr{
      display: none;
  }
  
  .top ul li  {
    color: rgb(233, 233, 233)
  }

  .top img{
      width: 70px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
  }

  .top .top-bar {
      display: none;
  }
  
  .top .nav-menu ul{
    top: 21%;
  }
  

  .top-bar {
      color: rgb(255, 255, 255);
      opacity: 0.7;
      position: absolute;
      top: 10%;
      right: 10%;
      
  }

  .hr {
      position: absolute;
      width: 60%;
      top: 30%;
      right: 5%;
      opacity: .5;
      
      color: white;
      
  }
 

  .top-nav-list li{
      margin-right: 40px;
  }

  .top-nav-list{
    margin-right: 5rem;
  }


  .cofe {
      color: red;
  }

  .social-icons {
      position: absolute;
      top: 10%;
      right: -10%;
  }

  .social-icons ul li{
    margin-right: 10px;
    cursor: pointer;
    transition: .2s ease-in-out

  }

  .social-icons ul li:hover {
    color: rgb(64, 199, 233);
  }

 .logo {
     width: 200px;
     background: rgb(185, 32, 32);
     border-radius: 30%;
     padding: 15px 15px;

 }

.nav-menu ul{
  position: absolute;
  top: 40%;
  right: 4%;
  text-transform: uppercase;
}

.nav-menu a{
  text-decoration: none;
  color: white;
}

.nav-menu ul a li:hover {
  color: rgb(204, 111, 111)
}

.top-nav-list a li{
  font-weight: 400;
}

.top-nav-list a li:hover {
  color: rgb(65, 179, 255);
}

.top-nav-list a{
  text-decoration: none;
}

.join-us {
  transition: 0.2s ease-in-out;
  border: 3px solid rgb(185, 32, 32);
  padding: 10px 25px;
  text-decoration: none;
  color: rgb(247, 60, 60);
  font-weight: 700;
  margin-left: 20px;

}

.join-btn {
  text-decoration: none;

}

.join-us:hover {
  background: rgb(185, 32, 32);
  color: rgb(37, 27, 27);
}

.selected li{
  color: rgb(204, 111, 111)
}




@media (max-width: 1199.98px) {
  .top-nav-list li:nth-child(2){
    display: none;
  }
  .nav-menu ul li {
    font-size: 12px;
  }
}

@media (max-width: 1035px) {
  .join-us {
    transition: 0.2s ease-in-out;
    border: none;
    padding: 0;
    text-decoration: none;
    color: white;
    margin-left: 10px;;
    font-size: 12px;
    letter-spacing: 2px;
  }
  .top ul li {
    margin: 15px;
  }
  
  header .logo {
    position: absolute;
    left: 2%;
    top: 10%;
    width: 150px;
  }
  .top img {
    width: 70px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
  }
}

@media (max-width: 783px){
  header ul a li{
    margin: 0 8px;
  }
  .top ul li {
    margin-right: 2px;
  }
}

@media (max-width: 720px) {
  .top-bar, .nav-menu, .hr {
    display: none;
  }
  header .logo {
    width: 100px;
  }
  .top img{
    width: 70px;
  }
 
}

