.slick {
    height: 330px;
    background-image: url("../images/slick.comp.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: center;
    background-position-y: 130px;
    background-attachment: fixed;
    border-top: 4px solid rgb(209, 60, 60);
    position: relative;
    
}

.slider-slick {
    /* position: absolute; */
    text-align: center;
    width: 60%;
    margin: 0 auto;
    outline: none;
    top: 50%;
    transform: translateY(-50%);
}

.review h3 {
    color: white;
    font-weight: 800;
    font-size: 20px;
    
    
}
.review p{
    margin-top: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .7);

}

.slick-prev::before, .slick-next:before {
    color: red !important
}

@media (max-width: 720px){
    .slick {
        background-attachment: initial;
        background-position: center;
    }
   
}

@media (max-width: 350px){
    .review h3 {
        font-size: 15px;
    }
}