.top-picture-join {
    height: 80vh;
    background:url("../images/pricing.comp.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    border-bottom: 10px solid rgb(214, 28, 28);
}
.top-pic-title-join{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}


.top-pic-title-join h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 4rem;
}