.top-picture {
    height: 80vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    border-bottom: 10px solid rgb(214, 28, 28);
}
.top-pic-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}


.top-pic-title h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 4rem;
}

@media (max-width: 720px){
    .top-picture {
        background-attachment: initial;
    }
   
}

@media (max-width: 320px){
    .top-pic-title h1{
        font-size: 3rem;
    }
}

